.basket {
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 30%;
  background: white;
}

.images {
  width: 27px;
  height: 30px;
  cursor: pointer;
}

.top {
  height: 66.6vh;
  background: white;
  overflow: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 500px) {
  .top {
    height: calc(100vh - (95px + 90px +50px));
  }
}

.basket-top__desc {
  padding: 0px 20px;
  margin: 6px 0;
}

.p1 {
  color: #666666;
  font-size: 12px;
  font-family: "Gilroy-Light", sans-serif;
  width: 60%;
  margin-top: 10px;
}

.hr {
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  margin: 0 10px;
  margin-bottom: 10px;
}

.list {
  padding: 0px 20px;
  margin-top: 30px;
}

.category-cap {
  text-transform: capitalize;
  margin-bottom: 15px;
}

.basket-top__list-item {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.basket-top__addnotes {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

label {
  font-size: 20px;
  margin-bottom: 20px;
}

textarea {
  border: 2.2px solid #ffd504;
  height: 120px;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
}

.basket-middle {
  font-size: 16px;
  height: 90px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.basket-middle-number {
  padding: 6px 10px;
  border: 2.2px solid #ffd504;
  border-radius: 10px;
  margin-left: 10px;
}

.basket-bottom {
  background: #ffd504;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.basket-bottom h1 {
  text-align: center;
  font-size: 20px;
}

.nobasket{
  text-align: center;
}