.cmodal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -90;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.animated__cmodal {
  z-index: 90;
  opacity: 1;
}

.cmodal__content {
  width: 95%;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  position: absolute;
  border-radius: 10px;
  z-index: -100;
  transition: all 0.3s ease-in;
  opacity: 0;
}

.cmodal__content__name {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cmodal__content__name h1 {
  font-size: 26px;
  margin-bottom: 16px;
}

.cmodal__content__name img {
  width: 100px;
  height: 100px;
  margin-bottom: 16px;
}

.cmodal__content__name h3 {
  text-align: center;
  width: 80%;
  line-height: 26px;
  margin-bottom: 16px;
}

.cmodal__content__name__buttons {
  display: flex;
}

button {
  font-family: "Gilroy", sans-serif;
}

.modal__content__variant {
  padding: 20px;
  position: relative;
}

.modal__content__variant h1 {
  font-size: 22px;
}

.variant__box {
  position: relative;
}

.modal__content__variant input {
  width: 100%;
  height: 100%;
  appearance: none;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  padding: 10px 0;
  background: transparent;
  color: black;
  font-size: 14px;
  transition: all 100ms linear;
  border: 2.2px solid #ffd504;
  border-radius: 8px;
  margin: 6px 0;
}

.modal__content__variant input:checked {
  background: #ffd504;
}

.modal__content__variant input:before {
  content: attr(label);
  display: inline-block;
  text-align: center;
  width: 100%;
}

.variant-name {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  margin-left: 20px;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 22px;
}

.variant-price {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  margin-right: 20px;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 22px;
}

.modal__content__options {
  padding: 20px;
}

.modal__content__options h1 {
  font-size: 22px;
}

.modal__content__options .option__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.modal__content__options label {
  font-size: 22px;
  text-transform: capitalize;
}

.modal__content__options .checkbox {
  position: relative;
}

.modal__content__options input {
  border: 1px solid #ffd504;
  height: 20px;
  width: 20px;
  appearance: none;
  z-index: 100;
  cursor: pointer;
}

.modal__content__options .checkbox__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: collapse;
  z-index: 95;
}

.checkbox__img img {
  height: 16px;
  width: 16px;
}

.modal__content__options input:checked {
  background: transparent;
  z-index: 105;
  height: 20px;
  width: 20px;
}

.modal__content__options input:checked ~ .checkbox__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
  z-index: -20;
}

.modal__content__options img {
  background: #ffd504;
  height: 20px;
  width: 20px;
}

.modal__content__qty {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content__qty .btn {
  font-size: 30px;
  font-family: "Gilroy", sans-serif;
  padding: 0px 10px;
}

.modal__content__qty h1 {
  margin: 0 10px;
  padding: 0px 10px;
  border: 2px solid #ffd504;
  border-radius: 8px;
}

.modal__content__btn {
  padding: 0 20px 20px 20px;
}

.modal__content__btn button {
  display: block;
  width: 100%;
  font-size: large;
  text-transform: uppercase;
  font-family: "Gilroy", sans-serif;
}

.animated__cmodal__content {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  z-index: 100;
}
