.main {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home {
  position: relative;
  background: white;
  font-weight: 200;
}

.title {
  text-align: center;
  width: 55%;
  padding: 8px 0;
}

h1 {
  font-size: 18px;
  margin-bottom: 3px;
  letter-spacing: 0.5px;
  font-weight: 500;
}

p {
  font-weight: 600;
  font-size: 12px;
  padding: 0 3px;
  margin-bottom: 7px;
  color: #5e5c5c;
  font-family: "Gilroy-Light", sans-serif;
}

.firstitems {
  text-align: center;
  width: 90%;
  margin-bottom: 7px;
}

.firstitems .button {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Gilroy", sans-serif;
}

.firstitems {
  animation: leftToRight forwards 0.4s linear;
}

.home {
  width: 90%;
  display: flex;
}

::-webkit-scrollbar {
  display: none;
}

.home .underlined {
  font-size: 17px;
  text-transform: capitalize;
  letter-spacing: 0.3px;
  font-family: "Gilroy", sans-serif;
}

.test {
  height: calc (95vh- (150px + 90px));
  padding: 10px 20px;
}

@media only screen and (max-width: 500px) {
  .productList {
    height: calc(100vh - (150px+90px));
  }
}

.homeproductlist {
  height: calc(95vh - 150px);
}
@media only screen and (max-width: 500px) {
  .homeproductlist {
    height: calc(100vh - 150px);
  }
}

.test {
  padding: 10px 20px;

  height: 60vh;
}

.product {
  border: 2.2px solid #ffd504;
  border-radius: 8px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.prodesc {
  width: 75%;
}

.prodesc h1 {
  font-size: 20px;
}

.productlist h1 {
  font-size: 13px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.productlist p {
  font-size: 14px;
  font-weight: 600;
  font-family: "Gilroy-Light", sans-serif;
}

.bottom {
  background: #ffd504;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: -15px;
}

.bottom h1 {
  text-align: center;
  font-size: 20px;
}

.lang-btn {
  position: absolute;
  height: 40px;
  right: 12px;
  top: 12px;
  background: white;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}

.lang-btn img {
  width: 25px;
  height: 25px;
  margin-bottom: 2px;
}