.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  cursor: pointer;
}

.content {
  width: 100%;
  background: white;
  bottom: 0;
  position: absolute;
  border-radius: 20px 20px 0 0;
  z-index: 100;
}

.contentname {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h1 {
  font-size: 24px;
}

.btn {
  font-size: 22px;
  font-family: "Gilroy", sans-serif;
  padding: 0px 10px;
  display: flex;
}

.variant {
  padding: 15px;
  position: relative;
}

.h2 {
  font-size: 20px;
}

.box {
  position: relative;
}

input {
  width: 100%;
  appearance: none;
  outline: none;
  cursor: pointer;
  padding: 10px 0;
  background: transparent;
  color: black;
  transition: all 100ms linear;
  border: 2.2px solid #ffd504;
  margin: 6px 0;
}

input:checked {
  background: #ffd504;
}

input:before {
  content: attr(label);
  display: inline-block;
  text-align: center;
  width: 100%;
}

.variant-name {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  margin-left: 20px;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 22px;
}

.variant-price {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  margin-right: 20px;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 22px;
}

.options {
  padding: 10px;
}

.h3 {
  font-size: 20px;
}

.option__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  font-size: 18px;
}

.checkbox {
  position: relative;
}

.input1 {
  border: 1px solid #ffd504;
  height: 20px;
  width: 20px;
  appearance: none;
  z-index: 100;
  cursor: pointer;
}
.checkbox__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: collapse;
  z-index: 95;
}
.checkbox__img .img_1 {
  height: 20px;
  width: 18px;
  margin-top: 3.7px;
}
.input1:checked {
  background: transparent;
  z-index: 105;
  height: 20px;
  width: 20px;
}
.input1:checked ~ .checkbox__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
  z-index: -20;
}

.img_1 {
  background: #ffd504;
  height: 20px;
  width: 20px;
}

.content__qty {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #ffd504;
  border-radius: 2px;
  transition: all 100ms linear;
  border: 2.2px solid #ffd504;
  border-radius: 5px;
}

.qty {
  margin: 0 10px;
  padding: 0px 10px;
  border: 2px solid #ffd504;
  font-size: 25px;
  border-radius: 8px;
}

.content__btn {
  padding: 0 10px 10px 10px;
  margin-bottom: 20px;
}

.orderBtn {
  width: 100%;
  text-transform: uppercase;
  font-family: "Gilroy", sans-serif;
  background-color: #ffd504;
  appearance: none;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  padding: 6px 0;
  border: 2.2px solid #ffd504;
  border-radius: 8px;
}
